# C build artifacts
*.o
*.d
*.a
*.so
*.so.*

# Build output
build/
libnccl-net-mrc.so

# Editor / IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vs/

# OS
.DS_Store
Thumbs.db

# Environment
*.env
